*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto Mono', monospace;
}
.container{
  padding: 10px;
  width: 100%;
  height: 100vh;
}
.container_mesi{
  width: 1000px;
  padding:10px;
  border: 1px solid black;
  margin: 0 auto;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #ffcccc;
}
.container i{
  position: absolute;
  top: 50%;
  cursor: pointer;
}
.right{
  right: 10px;
}
.left{
  left: 10px;
}
#mese_corrente{
  margin-bottom: 10px;
}
#giorni_mesecorrente{
  list-style-type: none;
  width: 30%;
}
#giorni_mesecorrente li{
  padding: 0.5px 0;
  text-align: left;
}
.red{
  color: red;
}
